h1{
color:yellow

}


h2{
color: yellow

}

h3 {color: yellow


}





p{
font-style: oblique;
color: yellow;
background-color: green;
}

body{ 
background: linear-gradient(black,green )


}

nav{
font-display: 30px;
font-style: oblique;
background-color: aliceblue;




}





nav li{
display: inline;
margin: 0 0 0 30%;
font-style: oblique;

}

